#!/bin/sh
export $(dbus-launch)
setxkbmap -option "ctrl:swapcaps"
xset s off     # don't try and put up a screensaver
xset s noblank # don't blank the screen, let dpms handle it
xset +dpms     # energy saving monitor features
# VirtualCam
ffmpeg -f v4l2 -input_format mjpeg -framerate 50 -video_size 1920x1080 -i /dev/video0 -r 50 -vsync cfr -c:v copy -an -f v4l2 /dev/video9 &
# start pulse and then volumeicon so it controls the correct device
pulseaudio --start
volumeicon &
picom --config ~/.config/picom/config &
