#!/bin/sh
PATH=~/.cargo/bin:~/bin:$PATH

export $(dbus-launch)
if command -v dbus-launch >/dev/null && test -z "${DBUS_SESSION_BUS_ADDRESS}"; then
       eval $(dbus-launch --sh-syntax --exit-with-session)
fi
gentoo-pipewire-launcher & # pipewire / pulseaudio compat

setxkbmap -option "ctrl:swapcaps"
xset s off     # don't try and put up a screensaver
xset s noblank # don't blank the screen, let dpms handle it
xset +dpms     # energy saving monitor features

# VirtualCam
ffmpeg -f v4l2 -input_format mjpeg -framerate 50 -video_size 1920x1080 -i /dev/video0 -r 50 -vsync cfr -c:v copy -an -f v4l2 /dev/video9 &

picom --config ~/.config/picom/config & # compositor

mpg123 -q ~/.config/awesome/login.mp3  # hack: wake up the sound-server so volumeicon can launch
volumeicon & # start volumeicon after pipewire 
